.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.primaryInput {
  user-select: none;
  padding: 10px;
  border: 1px solid var(--gray-600);
  border-radius: 5px;
  width: 250px;
  background-color: var(--body-color);
  font-size: 18px;
}

.primaryLabel {
  font-size: 18px;
  color: var(--gray-800);
}
